body {
    font-family: "Oswald", serif;
    font-weight: 300;
    font-style: normal;
}


/*Header satuff here*/

header {
    background-color: #eaeaea;
    
    padding: 1rem 10px;
    
}
header span {
    font-size: 1.6rem;
    font-weight: 700;
    color: #35495e;
}


/*Nav stuff here*/

nav {
    background-color: #42b883;
   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    display: flex;
}
nav a {
    text-decoration: none;
    color: #35495e;
    font-size: 1.1rem;
    padding: .83rem 1rem;
    display: block;
    font-weight: 700;
}
nav li.Book a {
    background-color: #347474;
    color: #42b883;
}
nav li.Page a {
    background-color: #347474;
    color: #42b883;
}
nav li a:hover {
    color: #dd7e67;
}

/*Main stuff here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #ff7e67;
}   
main h2 strong {
    color: #347474;
}
main h2 {
    color: #347474;
    margin-bottom: .2rem;
}
main p {
    color: #000;
    margin: 0;
}
main dl dt {
    color: #ff7e67;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #ff7e67;
    font-size: .9rem;
    margin-left: 20px;
}
main h3 {
    
    color: #ff7e67;
    margin-top: 1rem;
}

main ul {
    background-color: #eaeaea;
    list-style-type: square; 
    padding: 20px;
}
main ol {
    background-color: #eaeaea;
    list-style-type: circle;
    border-radius: 10px;
}
main ul li {
    background-color: #347474;
    margin-bottom: .5rem;
line-height: 125%;
font-size: .9rem;
color: #42b883;
padding: 5px;
margin-left: 35px;
}
main ol li {
    background-color: #347474;
    margin-bottom: .5rem;
line-height: 125%;
font-size: .9rem;
color: #42b883;
margin: 5px;
}
main strong {
    color: #000;
font-weight: 700;

}
main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #347474;
   padding: .5rem;
   border-radius: 10px;
   border: 1px solid #42b883;
   width: 200px;
}
main a {
    color: #ff7e67;
}
main a:hover {
    color: rgb(34, 159, 69);
}
/*Footer stuff here*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}




